@font-face {
  font-family: "fixed";
  src: url("/_/static/fixed.ttf");
}

:root {
  --accent: orangered;
  --primary: #0f111a;
  --secondary: #00010a;
  --0: #3b4252;
  --text: white;
}

body {
  font-family: system-ui;
  background-color: var(--primary);
  color: var(--text);
  padding: 0 1.5rem 1.5rem 1.5rem;
  max-width: 80rem;
  margin-inline: auto;
  line-height: 1.15;
}

#sc {
  color: var(--accent);
}

#sc>h1 {
  margin: 0;
}

input,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "fixed", monospace, system-ui;
  font-weight: normal !important;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: var(--secondary);
  color: var(--text);
  border-color: var(--0);
  border-style: solid;
}

input:focus,
input[type="submit"]:hover {
  border-color: var(--accent);
  border-style: solid;
  outline: none;
}

.btn {
  background-color: var(--secondary);
  color: var(--text);
  border-color: var(--0);
  border-style: solid;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  display: block;
  text-align: center;
  border-width: 2px;
}

.btn:hover,
.btn:focus,
.btn.active {
  border-color: var(--accent);
  border-style: solid;
  outline: none;
}

.listing {
  display: flex;
  border-color: var(--0);
  border-style: solid;
  column-gap: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-width: 2px;
}

.listing:hover {
  border-color: var(--accent);
}

.listing>img {
  width: 4rem;
  object-fit: cover;
  height: 4rem;
}

.listing>.meta {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  gap: 0.25rem;
}

.listing>.meta>h3 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.listing>.meta>span {
  color: var(--accent);
}

.listing>.meta>p {
  margin: 0;
}

details {
  border-color: var(--0);
  border-style: solid;
  padding: 0.5rem 0.75rem;
}

details>summary:hover {
  cursor: pointer;
}

.tag {
  border-color: var(--0);
  border-style: solid;
  padding: 0.5rem;
  width: fit-content;
}

select {
  background: var(--secondary);
  border: var(--0) solid 2px;
  color: var(--text);
  cursor: pointer;
  outline: 0;
  padding: 0 3px;
}

input[type="submit"] {
  cursor: pointer;
}

select:open {
  border-color: var(--accent);
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.link {
  color: var(--accent);
  text-decoration: underline dashed;
}

.link:hover {
  text-decoration: underline;
}

.listing>.comment>h3 {
  margin: 0;
}

.waveform {
  width: 100%;
  height: 7rem;
  display: block;
}

.track-title-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
  justify-content: space-between;
}

.track-title {
  font-family: "fixed", monospace, system-ui;
  font-size: 2em;
}

#track-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#track {
  width: 100%;
}

.track-block {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.track-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .track-block {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .track-main {
    gap: 1rem;
  }
}

.track-meta-icon>svg,
.track-meta-icon {
  width: 16px;
  height: 16px;
}

.track-meta-item {
  display: flex;
  gap: .1rem;
  align-items: center;
}

.track-meta {
  display: flex;
  gap: .5rem;
}

.tooltip {
  position: relative;
}

.tooltip-content-wrapper {
  transition: opacity .2s, bottom .2s;
  opacity: 0;
  z-index: -1;
  position: absolute;
  bottom: 90%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-bottom: 5px solid transparent;
  font-size: 14px;
  animation: tooltip-z-index-out .2s;
}

.tooltip:hover>.tooltip-content-wrapper {
  bottom: 100%;
  opacity: 1;
  z-index: 1000;
  animation: unset;
}

.tooltip-content {
  background: #000a;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  margin-top: 4px;
}

.tooltip-content::before {
  content: '';
  border: 4px black solid;
  transform: rotate(45deg);
  position: absolute;
  bottom: -4px;
  left: calc(50% - 4px);
}

@keyframes tooltip-z-index-out {
  100% {
    z-index: -1
  }

  0% {
    z-index: 1000
  }
}

.waveform-wrapper {
  position: relative;
}

.waveform-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  bottom: 0;
  font-size: 12px;
}

.waveform-time {
  background: black;
  display: inline-block;
  padding: 1px;
}

.waveform-start {
  color: var(--accent);
}

.play-button {
  cursor: pointer;
}

.play-button svg {
  width: 32px;
  height: 32px;
}

.play-button>div {
  background: var(--primary);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid var(--0);
}

.play-button.playing .icon-paused,
.play-button.paused .icon-playing {
  display: none;
}

.hidden {
  display: none;
}

.track-title-left {
  display: flex;
  gap: 1em;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
  flex-wrap: wrap;
  gap: 1rem;
}

.header-search {
  display: flex;
  gap: .5rem;
  flex: 1;
  max-width: 500px;
}

.header-search-query {
  padding: 7px 10px;
  flex: 1;
  width: 100px;
}

.modal-cond {
  display: none;
}

.modal-cond:checked~.modal {
  display: flex;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  justify-content: center;
  align-items: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0006;
}

.modal-content-wrapper {
  z-index: 500;
  background: var(--primary);
  padding: 2rem 4rem;
  border: 2px solid var(--0);
  position: relative;
}

.modal-close {
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.download-metadata {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-bottom: .35rem;
}

.listing-reply {
  margin-left: 2rem;
}

#search-suggestions {
  list-style: none;
  position: absolute;
  background-color: var(--secondary);
  margin: 0;
  padding: 1rem;
  padding-bottom: 0;
  width: -moz-available;
  width: -webkit-fill-available;
  margin-top: 40px;
}

#search-suggestions>li {
  padding-bottom: 1rem;
}

#search-suggestions>li:hover {
  cursor: pointer;
}


.track-volume {
  writing-mode: sideways-lr;
}

.track-bottom {
  display: flex;
}

.track-controls {
  flex: 1;
  display: flex;
  gap: .5rem;
}

.track-volume-tooltip svg,
.track-repeat svg {
  width: 16px;
}

.track-repeat,
.track-volume-tooltip {
  cursor: pointer;
}

.track-repeat.active svg {
  color: var(--accent);
}

.hero-section {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .hero-section {
    flex-direction: column;
  }
}

.noJs .jsOnly {
  display: none;
}

.alert {
  padding-inline: 1rem;
  margin-block: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
}

.alert.warning {
  background-color: color-mix(in srgb, orange, transparent 80%);
}

.warning svg {
  height: 1.5rem;
  width: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}