package templates

import "git.maid.zone/stuff/soundcloak/lib/cfg"

type HeaderOptions struct {
	SearchQuery string
	SearchType string
}

templ Base(p cfg.Preferences, title string, content templ.Component, head templ.Component, options HeaderOptions) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/_/static/global.css"/>
			<link rel="stylesheet" href="/_/static/instance.css"/>
			<link rel="icon" href="/_/static/favicon.ico"/>
			<link rel="search" type="application/opensearchdescription+xml" title="soundcloak" href="/_/opensearch.xml"/>
			<title>
				if title != "" {
					{ title } ~
				}
				soundcloak
			</title>
			if head != nil {
				@head
			}
		</head>
		<body>
			if cfg.Debug {
				<h1>!! running in debug mode !!</h1>
			}
			<div class="header">
				<a href="/" id="sc"><h1>soundcloak</h1></a>
				<form class="header-search" action="/search">
					<input class="header-search-query" id="q" name="q" type="text" autocomplete="off" autofill="off" placeholder="Search..." value={options.SearchQuery}>
					@sel("type", []option{
						{"any", "Anything", false},
						{"tracks", "Tracks", false},
						{"users", "Users", false},
						{"playlists", "Playlists", false},
					}, options.SearchType)
					if *p.SearchSuggestions {
						<ul id="search-suggestions" style="display:none"></ul>
						<script async src="/_/static/search.js"></script>
					}
					<input class="header-search-submit" type="submit" value="Search" class="btn">
				</form>
			</div>
			@content
		</body>
	</html>
}

templ MainPage() {
	<footer>
		<div style="margin-top:5rem;gap:1rem;display:grid;grid-template:auto/auto auto auto;justify-content:center">
			<a class="btn" href="/discover">Discover Playlists</a>
			<a class="btn" href="/_/preferences">Preferences</a>
			<a class="btn" href="https://git.maid.zone/stuff/soundcloak">Source code</a>
			<a class="btn" href="/_/static/notice.txt">Legal notice</a>
		</div>

		<p style="text-align:center">Build <a class="link" href={templ.SafeURL(cfg.CommitURL)}>{cfg.Commit}</a></p>
	</footer>
}
