package templates

import (
	"github.com/maid-zone/soundcloak/lib/sc"
	"strconv"
    "net/url"
    "strings"
)

templ SearchUsers(p *sc.Paginated[sc.User]) {
	<h2>Found { strconv.FormatInt(p.Total, 10) } users</h2>
	for _, user := range p.Collection {
		<h3><a href={ templ.URL("/" + user.Permalink) }>{ user.Username }</a></h3>
	}

    <a href={ templ.URL("?type=users&pagination=" + url.QueryEscape(strings.Split(p.Next, "/users")[1])) } rel="noreferrer">more users</a>
}
